html {
  font-size: 100px;
}

body {
  font-size: 0.16rem;
  width: 37.6rem;
  height: 21.6rem;
  background: #091434;
}

/* 设置滚动条的样式 */
::scrollbar {
  width: 0;
  height: 0.08rem;
}

/* 滚动槽 */
::scrollbar-track {
  box-shadow: inset 0.06rem rgba(0, 0, 0, 0.3);
  border-radius: 0.04rem;
}

/* 滚动条滑块 */
::scrollbar-thumb {
  border-radius: 0.04rem;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0.06rem rgba(0, 0, 0, 0.5);
}

::scrollbar-thumb {
  background: #0492f0de;
}

.subject {
  margin-top: .4rem;
  text-align: center;
  font-size: .4rem;
  line-height: 2;
  color:  #0ab7be;
}

.subject > select {
  min-width: 2rem;
  padding: .1rem .2rem;
  font-size: 0.4rem;
  line-height: 1.4;
  color: #0fc7d1;
  background-color: transparent;
  border: 1px solid #0fc7d1;
}

.charts-group {
  flex: 2;
}

.charts-group > .chart {
  margin-top: 1.6rem;
  width: 100%;
  height: 8rem;
  outline: .04rem #0ab7be solid;
}

.map {
  margin: 1.6rem .4rem;
  flex: 3;
  height: 17.6rem;
  outline: .04rem #0ab7be solid;
}

.alert-box {
  margin: auto;
  padding: 0 2em;
  width: 5.46rem;
  height: 4.86rem;
  color: #0ab7be;
  background: #0b1435;
  border: 0.01rem solid #31cbf2;
  overflow-y: auto;
}
.alert-box h4 {
  text-align: center;
}
.alert-box dl > dt {
  border-bottom: 0.01rem solid;
}
.alert-box dl > dd {
  margin-top: 0.5em;
  margin-left: 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  width: 37.6rem;
  margin-top: -.8rem;
  height: 19.2rem;
  padding: 0 .4rem;
}
.highlight {
  color: #0cc6d2;
}
